@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

@keyframes slideInTop {
    0% {
        transform: translateY(-80%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #243b55,
        #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.nowrap {
    flex-wrap: nowrap;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}

.stretch {
    align-items: stretch;
}

.even {
    justify-content: space-evenly;
}

.outlined { 
    outline: 1px solid black;
}

h1 {
    margin: 0vh 2vw 2vh 2vw;
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 10vw;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    animation: 2s ease-out 0s 1 fadeIn;
}

a {
    text-decoration: none;
}

input {
    margin: 1vh;
    padding: 1vh;
    min-width: 3vh;
    border-radius: 200px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 4vh;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    animation: 2s ease-out 0s 1 fadeIn;
}

input::placeholder {
    color: white;
}

input:focus {
    outline: 0px;
}

input:focus::placeholder {
    color: transparent;
    text-shadow: 1px 1px 0;
}

button {
    margin: 1vh;
    padding: 1vh;
    min-width: 40vw;
    border-radius: 200px;
    border: 0;
    text-align: center;
    font-weight: bold;
    color: navy;
    background-color: rgba(255, 255, 255, 1);
    font-size: 4vh;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    animation: 2s ease-out 0s 1 fadeIn;
}

button:active{
    transition: all 0.2s ease-out;
    background-color: gold;
}
