@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --stroke: #ffffff;
    --placeholder: #8e96a6;
    --fill: #1e2e4d;
    --accent: #4a71b9;
    --good: #71b94a;
    --bad: #b94a71;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes goodFlash {
    from {
        background-color: var(--good);
    }
}

.good-flash {
    animation-name: goodFlash;
    animation-duration: 1s;
}

@keyframes badFlash {
    from {
        background-color: var(--bad);
    }
}

.bad-flash {
    animation-name: badFlash;
    animation-duration: 1s;
}

* {
    touch-action: manipulation;

    font-family: "Roboto", sans-serif;

    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    color: var(--stroke);
    background-color: var(--fill);
}

.flex {
    display: flex;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}

.stretch {
    align-items: stretch;
}

.even {
    justify-content: space-evenly;
}

.bar, .box {
    border: 2px solid var(--stroke);
    border-radius: 0.5vh;
    margin: 0.5vh;
    padding: 0.5vh;
}

.bar {
    align-items: center;
}

.box {
    overflow-y: scroll;
    flex-grow: 1;
}

.massive {
    font-size: 8vmin;
}

.huge {
    font-size: 6vmin;
}

.bigger {
    font-size: 5vmin;
}

.big {
    font-size: 4vmin;
}

.medium {
    font-size: 3vmin;
}

.small {
    font-size: 2vmin;
}

.tiny {
    font-size: 1vmin;
}

h1 {
    margin: 0.125ch;
    padding: 0.125ch;
    font-weight: 100;
    text-align: center;
}

a {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
}

button, input {
    margin: 0.25ch;
    padding: 0.25ch;
    border-radius: 0.25ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--fill);
    background-color: var(--stroke);
}

button {
    font-weight: 700;
}

input[type='text'], input[type='password'] {
    -webkit-appearance: none;
    min-width: 5ch;
    height: 2.5ch;
    font-weight: 100; 
}

select {
    min-width: 5ch;
}

input[type='checkbox'] {
    width: 2.5ch;
    height: 2.5ch;
}

td input[type='text'] {
    margin: auto;
    width: calc(100% - 1ch);
}

td input[type='checkbox'] {
    margin: auto;
}

input[type='text']::placeholder {
    color: var(--placeholder);
}

input:focus {
    outline: unset;
    box-shadow: 0 0 0 2px var(--accent);
}

#flash {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: none;
    padding: 1ch;
    color: var(--stroke);
    background-color: var(--bad);
}