body {
  justify-content: flex-start;
}

h1 {
  padding-top: 15vh;
}

h3 {
  font-size: 14px;
}

input {
  margin: 1vh;
  padding: unset;
  min-width: unset;
}

#box {
  width: 80%;
  display: flex;
}

#top-bar {
  width: 100%;
  background-color: white;
  margin: 2vh 2vw 0vh 2vw;
  font-size: 24px;
  color: #101010;
  justify-content: space-evenly;

  border-bottom: 0.5vh solid;
  border-color: navy;
}

#entry-list {
  width: 100%;
  max-height: 60vh;
  background-color: #101010;
  margin: 0vh 2vw 0vh 2vw;
  color: white;
  justify-content: space-evenly;

  overflow-y: auto;
}

.entry {
  height: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.checkbox-entry {
  height: 5vh;
  width: 4vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.first-name-column {
  border-right: 1vw solid;
  border-left: 1vw solid;
  border-color: white;
}

.column {
  padding: 1vh 1vw 1vh 1vw;
}

.modal-button {
  all: unset;
  position: absolute;

  margin: 0.25ch;
  padding: 0.25ch;
  border-radius: 2ch;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: navy;
  background-color: rgba(255, 255, 255, 1);
  font-size: 8vw;
  width: 2ch;
  height: 2ch;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  animation: 2s ease-out 0s 1 fadeIn;
}

#apply-button:active {
  transition: all 0.2s ease-out;
  background-color: gold;
}

#apply-button {
  bottom: 2vh;
  left: 2vw;
}

#add-entry {
  bottom: 30vh;
  left: 2vw;
}

.action-checkbox {
  width: max-content;
  height: auto;
}

.modal {
  color: white;
  text-align: center;
  font-size: 24px;
  display: none;
  background-color: #101010;
}


