h3{
    font-size: 80px;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: -1px 0 navy, 0 1px navy, 1px 0 navy, 0 -1px navy;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4{
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: navy;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rowStyle {
    display: flex;
    flex-direction: row;
}

#NameColumns, #DonorColumns, #WeightColumns, #PointColumns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 100px);
    grid-row-gap: .5em;
    grid-column-gap: 1em;
    background-color: white;
  }
