body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90vh 10vh;
}

.donor-weight, .item {
    background-color: white;
    border-radius: 20px;
    margin: 1vh;
    padding: 0.5vh;
} 

h1 {
    margin: 0;
    padding: 0;
    color: navy;
    font-size: 6vw;
}

h2 {
    margin: 0;
    padding: 0;
    color: navy;
    
}

h1.count, h2.count {
    padding: 0.5ch;
    border: 1px solid navy;
    border-radius: 0.5ch;
}

button.small {
    margin: 0.5ch;
    padding: 1ch;
    min-width: unset;
    width: 3ch;
    height: 3ch;
    border: 1px solid navy;
    font-size: large;
    border-radius: 1.5ch;
}

#reader {
    width: 100%;
}

#items {
    width: 100%;
    height: 100%;
    grid-area: 1 / 3 / 2 / 4;
    
    overflow-y: scroll;
}

#reader-weights-buttons {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 3;
}

#donor-weights {
    width: 100%;
    height: 100%;
    outline: 1px solid black;
    overflow-y: scroll;
}

#buttons {
    width: 100%;
    height: 100%;
    outline: 1px solid black;
    overflow-y: scroll;
}

#footer {
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 3 / 4;
    outline: 1px solid black;
}

input[type="text"] {
    background-color: white;
    border-radius: 1ch;
    font-size: 3vw;
    border: 1px solid black;
    color: navy;
}

input[type="text"]::placeholder {
    color: lightgray;
}

input[type="text"]:focus::placeholder {
    color: unset;
    text-shadow: unset;
}