<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARESIM</title>
</head>
<body>
    <h1>This is a test!</h1>
    <div style="width: 500px" id="reader"></div>
    <script src="static/js/html5-qrcode.min.js"></script>
    <script>
        let cart = [];

        let onScanSuccess = (decodedText, decodedResult) => {
            if (!cart.includes(decodedText)) {
                cart.push(decodedText);
                console.log(cart);
            }
        }
        
        let html5Qrcode = new Html5Qrcode("reader");
        html5Qrcode.start({ facingMode: "environment" }, { fps: 10, qrbox: 250 }, onScanSuccess)
    </script>
</body>
</html>