<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{item.item_name}}</title>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1 style='font-size: 8vw;'>{{item.item_name}}</h1>
    <img style='width: 80vw;' src='/api/barcode?data={{item.item_barcode}}'>
</body>
</html>