<!DOCTYPE html>
<html lang="en">
    
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<script defer src="/static/js/donor.js"></script>

		<link href="/static/css/global.css" rel="stylesheet">
        <link href="/static/css/donor.css" rel ="stylesheet">

        <title>Donors</title> 
    </head>
    
	<body>
		<div id="search" class="flex row">
			<div class="donor-entry flex row even">
				<h3>Search</h3>
				<input type="text" placeholder="Name" id="name-input">
			</div>
		</div>
		<div id="donors" class="flex column">

		</div>
		<div id="footer" class="flex row">
			<a href="/" class="flex row centered"><button id="back-button">Back</button></a>
			<button id="apply">Apply</button>
		</div>
	</body>
    
</html>
