<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script defer src="/static/js/index.js"></script>

    <link href="/static/css/global.css" rel ="stylesheet">

    <title>Action Select</title> 
</head>

<body class='flex column centered'>
    <div class="flex column strech">
        <h1 class='massive'>CARES Inventory</h1>
        <a href="/transaction"><button class='big'>Perform Transaction</button></a>
        <a href="/transactions"><button class='big'>Transactions Records</button></a>
        <a href="/items"><button class='big'>Edit Items</button></a>
        {% if manager.is_admin %}
        <a href="/managers"><button class='big'>Edit Managers</button></a>
        {% endif %}
        <a href="/donors"><button class='big'>Edit Donors</button></a>
        <button class='big' id="logout">Logout</button>
    </div>
</body>
    
</html>
