<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/global.css" rel ="stylesheet">

        <title>Action Select</title> 
    </head>

    <body>
        <h1>CARES Inventory</h1>
        <a href="/replenish"><button type="button">Inventory Management</button></a>
        <a href="/transaction"><button type="button">Perform Transaction</button></a>
        <button id="logout">Logout</button>
    </body>
    
</html>
