<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script defer src="/static/js/index.js"></script>

    <link href="/static/css/global.css" rel ="stylesheet">

    <title>Action Select</title> 
</head>

<body>
    <h1 class="fade-in">CARES Inventory</h1>
    <a href="/replenish"><button class="fade-in">Inventory Management</button></a>
    <a href="/transaction"><button class="fade-in">Perform Transaction</button></a>
    <a href="/records"><button class="fade-in">Transactions Records</button></a>
    <a href="/managers"><button class="fade-in">Edit Managers</button></a>
    <button id="logout" class="fade-in">Logout</button>
</body>
    
</html>
