{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    <script defer src="/static/js/login.js"></script>
{% endblock %}

{% block body %}
    <div class="flex column centered">
        <img id='logo' src="/static/res/logo.png" alt="Cares Center" style="width: 40vh; height: 40vh;">
        <div class="flex column strech">
            <h1 class="massive">CARES CENTER</h1>
            <input type="text" id="username" placeholder="Username" class="big">
            <input type="password" id="password" placeholder="Password" class="big">
            <button id="login" class="big">Login</button>
        </div>
    </div>
{% endblock %}