<!DOCTYPE html>
<html lang="en">
    
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<script defer src="/static/js/managers.js"></script>

		<link href="/static/css/global.css" rel="stylesheet">
        <link href="/static/css/managers.css" rel ="stylesheet">

        <title>Manager Management</title> 
    </head>
    
	<body>
		<div id="search" class="flex row">
			<div class="manager-entry flex row even">
				<h3>Search</h3>
				<input type="text" placeholder="First Name" id="first-name-input">
				<input type="text" placeholder="Last Name" id="last-name-input">
				<input type="text" placeholder="Username" id="username-input">
			</div>
		</div>
		<div id="managers" class="flex column">

		</div>
		<div id="footer" class="flex row">
			<a href="/" class="flex row centered"><button id="back-button">Back</button></a>
			<button id="apply">Apply</button>
		</div>
	</body>
    
</html>
