<!DOCTYPE html>
<html lang="en">
    
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<link href="/static/css/global.css" rel="stylesheet">
	<link href="/static/css/records.css" rel ="stylesheet">

	<script defer src="static/js/html5-qrcode.min.js"></script>
	<script defer src="/static/js/util.js"></script>
	<script defer src="/static/js/records.js"></script>

	<title>Records Page</title> 
</head>

<body>
	<div id="transactions" class="flex column">
        
	</div>
	<div id="footer" class="flex row">
		<a href="/" class="flex row centered"><button>Back</button></a>
	</div>
</body>
    
</html>
