<!DOCTYPE html>
<html lang="en">
    
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/css/replenish.css" rel ="stylesheet">
		<link href="/static/css/global.css" rel="stylesheet">

        <title>Inventory Management</title> 
    </head>
    
	<body>
	<h3>Cares Inventory</h3>
	<h3>Management Page</h3>
	<input type="text" placeholder="Name">
	<input type="text" placeholder="Donor">
	<input type="text" placeholder="Weight">
	<input type="text" placeholder="Points">
    <button type="button">search</button>
	</body>
    
</html>
