<!DOCTYPE html>
<html lang="en">
    
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/css/replenish.css" rel ="stylesheet">
		<link href="/static/css/global.css" rel="stylesheet">

        <title>Inventory Management</title> 
    </head>
    
	<body>
	<h3>Cares Inventory</h3>
	<h3>Management Page</h3>
	<div class="flex row">
	<button type="button">Search</button>
	<button type="button">Add Item</button>
	</div>
	<div class="flex row">
	<div><input type="text" placeholder="Name"></div>
	<div><input type="text" placeholder="Donor"></div>
	<div><input type="text" placeholder="Weight"></div>
	<div><input type="text" placeholder="Points"></div>
	</div>
	<div class="flex row">
		<div id = "Columns" class = "flex column"> <h4>NAME</h4> </div>
		<div id = "Columns" class = "flex column"> <h4>DONOR</h4> </div>
		<div id = "Columns" class = "flex column"> <h4>WEIGHT</h4> </div>
		<div id = "Columns" class = "flex column"> <h4>POINTS</h4> </div>
	</div>
	</body>
    
</html>
