{% extends 'base.html' %}

{% block title %}
	Transaction
{% endblock %}

{% block head %}
	<link href="/static/css/transaction.css" rel ="stylesheet">

	<script defer src="static/js/html5-qrcode.min.js"></script>
	<script defer src="/static/js/transaction.js"></script>
{% endblock %}

{% block body %}
	<div id="items" class="flex column"></div>
	<div id="reader-weights-buttons" class="flex column">
		<div id="reader" class="flex centered"></div>
		<div class="flex row grow">
			<div id="buttons" class="flex column">
				<input class="big" type="text" id="total-points" value="Total Points: 0" readonly>
				<input class="big" type="text" id="student-id" placeholder="Student ID">
				<button class="big" id="submit-transaction">Submit</button>
			</div>
			<div id="donor-weights" class="flex column"></div>
		</div>
	</div>
	<div id="footer" class="flex row">
		<a href="/" class="flex row centered"><button class="big" id="back-button">Back</button></a>
	</div>
{% endblock %}