<!DOCTYPE html>
<html lang="en">
    
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<link href="/static/css/global.css" rel="stylesheet">
        <link href="/static/css/transaction.css" rel ="stylesheet">

        <title>Transaction Page</title> 
    </head>
    
	<body>
		<div id="camera" class="flex column centered">
			<div id="reader"></div>
		</div>
		<div id="items" class="flex column"></div>
		<div id="donor-weights" class="flex column"></div>
		<div id="buttons" class="flex row"></div>
		<div id="footer" class="flex row"></div>

		<script src="static/js/html5-qrcode.min.js"></script>
		<script src="/static/js/transaction.js"></script>
	</body>
    
</html>
